go 1.20

use (
	"./gopl/c6/6.5：示例: Bit数组"
	./gopl/c2/popcount
	./gopl/c2/tempconv
	./gopl/c2/weightconv
	./gopl/c4/JSON/github
	./gopl/c4/JSON/omdb
	./gopl/c4/JSON/xkcd
	./gopl/c4/text-and-html-template/github-info
	./gopl/c5/5.5：函数值
	./gopl/c5/recur
	./gopl/c6/6.1：方法声明
	./gopl/c7/7.2：接口类型/bytecounter
	./gopl/c7/7.4：flag.Value接口/tempconv

	./learn/c4：面向对象/queue
	./learn/c4：面向对象/tree
	./learn/c5：面向接口/retriever/mock
	./learn/c5：面向接口/retriever/real
	./learn/c6：函数式编程/functional/adder
	./learn/c6：函数式编程/functional/fib
	./learn/c7：错误处理和资源管理/filelistingserver
	./learn/c7：错误处理和资源管理/filelistingserver/filelisting
	./learn/c8：测试与性能调优
	./learn/crawler
	./learn/crawler/engine
	./learn/crawler/model
	./learn/crawler/zhenai/parser
)
